<!DOCTYPE html>
<html>
<head>
  <title>MaTest</title>
  <%= stylesheet_link_tag    "ma_test/application", :media => "all" %>
  <%= javascript_include_tag "ma_test/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
