<div id="tabs">
<div id="user">
	<table width="90%">
		<tr>
			<td width="40%" valign="top">
				<ul>
					<li><%= link_to 'Post Index', posts_path %></li>
					<li><%= link_to 'New Post', new_post_path %></li>
					<li><%= link_to 'Update Post', edit_post_path %></li>	
					
				</ul>
				</td>
				<td width="20">&nbsp;</td>
				<td valign="top">
				<ul>

				</ul>
			</td>
		</tr>
	</table>	
</div>
</div>

